
h1, h2 {
text-align: center;
}

.title {
  position: sticky;
  background: rgba(249, 8, 8, 0.5);

}

.block1 {
  background: rgb(248, 177, 77);
  width: 350px;
  height: 190px;
  overflow: visible;
}

.block2 {
  position: sticky;
  background: rgb(199, 250, 30);
  left: 660px;
  width: 350px;
  height: 190px;
  overflow: auto;
 }

 .block3 {
  position: sticky;
  background: rgb(16, 243, 31);
  left: 140px;
  width: 350px;
  height: 190px;
  overflow: auto;
 }

 .block4 {
  position: sticky;
  background: rgb(34, 192, 236);
  left: 1120px;
  width: 350px;
  height: 190px;
  overflow: auto;
 }

 button {
  position: relative;
  left: 93%;
  top: 95%;
  
 }

  .modal {
    position:absolute;
    display: none; 
    /* background-color: #ffffff2a; */
    width: 100px;
    height: 100px;
    left:86%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
 }

  li {
    list-style-type: none; 
  }

  a:visited {
  color:#000;
  }

  .modal:hover {background-color: #ddd;}
  .title:hover .modal {display: block;}
 